.App {
  text-align: center;
}

.App-layout {
  border: 3px solid black;
  position: fixed;
  top: 0px;
  left: 0px;
}

.User-title {
  text-align: center;
}

.Hard-centered {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.User-part {
  border: 2px solid white;
}

.Velib-part {
  border: 2px solid white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
